$clock-size: 330px;
$menu-option-size: 100px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}


html, body {
    background: black;
    color: white;
    scroll-behavior: smooth;
}


@keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


@-webkit-keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


@-moz-keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


@-o-keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.no-drag {
    -webkit-user-drag: none;
}


.rainbow-border {
    border: 3px white solid;
    box-shadow: 
        inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
        0 0 5px 2px rgb(255, 255, 255, 0.6);
    animation: border-rainbow-transition 20s linear infinite;
    -webkit-animation: border-rainbow-transition 20s linear infinite;
    -o-animation: border-rainbow-transition 20s linear infinite;
    -moz-animation: border-rainbow-transition 20s linear infinite;
}


#main {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    
    #closePanel {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}


.menus {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
    z-index: 1;

    .menu {
        display: none;
        position: relative;

        .menu-options {
            display: inline-block;
            position: absolute;
            top: 50%;

            .menu-option {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: $menu-option-size;
                height: $menu-option-size;
                border-radius: 100%;
                text-align: center;
                background: transparent;
                color: white;
                font-size: 16px;

                transition: all 0.4s;

                .menu-option-content {
                    margin: auto;
                    width: 60%;
                    height: 60%;
                }

                &.prev-menu {
                    &::before {
                        content: 'X';
                        font-size: 26px;
                    }
                }

                &:hover {
                    width: calc(#{$menu-option-size} + 10px);
                    height: calc(#{$menu-option-size} + 10px);
                }
            }
        }

        &#lightsMenu {
            .menu-options > .menu-option.active {
                width: calc($menu-option-size + 30px);
                height: calc($menu-option-size + 30px);
            }

            .light-buttons-container > .light-button.on {
                background: white;
                color: black;
            }
        }

        &.active {
            display: inline-block;
            animation: fade-in 2s ease;
        }
    }
}


.date-time-container {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc($clock-size / 2);
    height: calc($clock-size / 2);
    transition: all 0.5s;
    font-size: 8px;

    &.initial {
        font-size: initial;
        top: 50%;
        left: 50%;
        width: $clock-size;
        height: $clock-size;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}


#remote {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 160px;
    // height: 350px;
    width: 250px;
    height: 250px;
    // background: white;

    button {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        color: white;
        border-radius: 100%;
        border: white 3px solid;
        box-shadow:
            inset 0 0 5px 2px white,
            0 0 5px 2px white;
        transition: all 0.2s;

        &:hover {
            border: grey 3px solid;
            box-shadow:
                inset 0 0 5px 2px grey,
                0 0 5px 2px grey;
        }
    }
}


.date-time-clock {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px white solid;
    box-shadow:
        inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
        0 0 5px 2px rgb(255, 255, 255, 0.6);
    background: black;

    #secondsHand {
        display: block;
        position: absolute;
        bottom: 50%;
        left: calc(50% - 2px);
        transform-origin: bottom;
        width: 4px;
        height: calc(50% + 8px);
        background: inherit;
        box-shadow: 0 0 4px 4px black;

        transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;

    }

    .date-time-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        text-align: center;

        .time-content {
            display: inline-block;
            font-size: 400%;
            line-height: 100%;
        }

        .date-content {
            display: inline-block;
            font-size: 120%;
        }
    }
}
