* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: none;
}

html, body {
  background: black;
  color: white;
  scroll-behavior: smooth;
}

@keyframes border-rainbow-transition {
  0% {
    border-color: #c7d3f7;
    box-shadow: inset 0 0 5px 2px #c7d3f7, 0 0 5px 2px #c7d3f7;
  }
  33% {
    border-color: #9673e2;
    box-shadow: inset 0 0 5px 2px #9673e2, 0 0 5px 2px #9673e2;
  }
  66% {
    border-color: #ffcefd;
    box-shadow: inset 0 0 5px 2px #ffcefd, 0 0 5px 2px #ffcefd;
  }
  100% {
    border-color: #c7d3f7;
    box-shadow: inset 0 0 5px 2px #c7d3f7, 0 0 5px 2px #c7d3f7;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-drag {
  -webkit-user-drag: none;
}

.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.rainbow-border {
  border: 3px #c7d3f7 solid;
  box-shadow: inset 0 0 5px 2px #c7d3f7, 0 0 5px 2px #c7d3f7;
  animation: border-rainbow-transition 10s linear infinite;
  -webkit-animation: border-rainbow-transition 10s linear infinite;
  -o-animation: border-rainbow-transition 10s linear infinite;
  -moz-animation: border-rainbow-transition 10s linear infinite;
}

#main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#main #closePanel {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menus {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  text-align: center;
  z-index: 1;
}
.menus .menu {
  display: none;
  position: relative;
}
.menus .menu .menu-options {
  display: inline-block;
  position: absolute;
  top: 50%;
}
.menus .menu .menu-options .menu-option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: white 3px solid;
  position: absolute;
  width: 97px;
  height: 97px;
  border-radius: 100%;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 16px;
  transition: all 0.4s;
}
.menus .menu .menu-options .menu-option .menu-option-content {
  position: relative;
  top: 1px;
  left: 1px;
  margin: auto;
  width: 60%;
  height: 60%;
}
.menus .menu .menu-options .menu-option.prev-menu::before {
  content: "X";
  font-size: 26px;
}
.menus .menu .menu-options .menu-option:hover {
  width: calc(97px + 10px);
  height: calc(97px + 10px);
}
.menus .menu#lightingMenu .menu-options > .menu-option.active {
  width: 127px;
  height: 127px;
}
.menus .menu#lightingMenu .light-buttons-container > .light-button.on {
  background: white;
  color: black;
}
.menus .menu#timerMenu .timer-container {
  width: 330px;
  height: 330px;
  border-radius: 100%;
  box-shadow: inset 0 0 5px 2px white, 0 0 5px 2px white;
  border: solid 3px white;
}
.menus .menu.active {
  display: inline-block;
  animation: fade-in 2s ease;
}

#remote {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 330px;
}
#remote button {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  border-radius: 100%;
  border: white 3px solid;
  box-shadow: inset 0 0 5px 2px white, 0 0 5px 2px white;
  transition: all 0.2s;
}
#remote button::before {
  content: "O";
  font-size: 26px;
}
#remote button:hover {
  border: grey 3px solid;
  box-shadow: inset 0 0 5px 2px grey, 0 0 5px 2px grey;
}

.date-time-container {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 165px;
  height: 165px;
  transition: all 0.5s;
  font-size: 8px;
}
.date-time-container.initial {
  font-size: initial;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 330px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.date-time-container .date-time-clock {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px white solid;
  box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.6), 0 0 5px 2px rgba(255, 255, 255, 0.6);
  background: black;
}
.date-time-container .date-time-clock #secondsHand {
  display: block;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 2px);
  transform-origin: bottom;
  width: 4px;
  height: calc(50% + 8px);
  background: inherit;
  box-shadow: 0 0 4px 4px black;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.date-time-container .date-time-clock .date-time-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  text-align: center;
}
.date-time-container .date-time-clock .date-time-content .time-content {
  display: inline-block;
  font-size: 400%;
  line-height: 100%;
}
.date-time-container .date-time-clock .date-time-content .date-content {
  display: inline-block;
  font-size: 120%;
}

/*# sourceMappingURL=styles.css.map */
