* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*cursor: none;*/
}


html, body {
    background: black;
    color: white;
    scroll-behavior: smooth;
}


@keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


@-webkit-keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


@-moz-keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


@-o-keyframes border-rainbow-transition {
    0% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
    25% {
        border-color: red;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 0, 0, 0.6),
            0 0 5px 2px rgb(255, 0, 0, 0.6);
    }
    50% {
        border-color: blue;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 0, 255, 0.6),
            0 0 5px 2px rgb(0, 0, 255, 0.6);
    }
    75% {
        border-color: green;
        box-shadow: 
            inset 0 0 5px 2px rgb(0, 255, 0, 0.6),
            0 0 5px 2px rgb(0, 255, 0, 0.6);
    }
    100% {
        border-color: white;
        box-shadow: 
            inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
            0 0 5px 2px rgb(255, 255, 255, 0.6);
    }
}


.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.no-drag {
    -webkit-user-drag: none;
}


.rainbow-border {
    border: 3px white solid;
    box-shadow: 
        inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
        0 0 5px 2px rgb(255, 255, 255, 0.6);
    animation: border-rainbow-transition 20s linear infinite;
    -webkit-animation: border-rainbow-transition 20s linear infinite;
    -o-animation: border-rainbow-transition 20s linear infinite;
    -moz-animation: border-rainbow-transition 20s linear infinite;
}


#main {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    
    .panels {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;

        #closePanel {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
        }

        .panels-container {
            flex: 1;
            display: flex;
            justify-content: center;

            .panel {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .panel-container {
                    display: block;
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: calc(50% - 50px);
                    border-radius: 100%;
                    overflow: hidden;
                    z-index: 2;
                    background: black;
                
                    transition: width 0.4s, height 0.4s, border-radius 0.4s, top 0.4s, left 0.4s;
                    -o-transition: width 0.4s, height 0.4s, border-radius 0.4s, top 0.4s, left 0.4s;
                    -moz-transition: width 0.4s, height 0.4s, border-radius 0.4s, top 0.4s, left 0.4s;
                    -webkit-transition: width 0.4s, height 0.4s, border-radius 0.4s, top 0.4s, left 0.4s;

                    .panel-content {
                        width: 100%;
                        height: 100%;

                        .panel-icon {
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 60%;
                            height: auto;

                            transition: all 0.2s, transform 0.3s;
                            -o-transition: all 0.2s, transform 0.3s;
                            -moz-transition: all 0.2s, transform 0.3s;
                            -webkit-transition: all 0.2s, transform 0.3s;
                        }
                    }
                }

                &:not(.active):hover {
                    .panel-container {
                        width: 110px;
                        height: 110px;
                    }
                }

                &.active {
                    .panel-container {
                        width: 80vw;
                        height: 80vh;
                        border-radius: 50px;

                        .panel-content {
                            .panel-icon {
                                top: 0;
                                left: 0;
                                width: 10%;
                                transform: translate(0, 0);
                                margin: 5% 4%;
                                
                                transition: all 0.5s;
                                -o-transition: all 0.5s;
                                -moz-transition: all 0.5s;
                                -webkit-transition: all 0.5s;
                            }
                        }
                    }
                }
            }
        }

        .center-panels-container {
            .date-time-container {
                display: block;
                position: relative;
                width: 300px;
                height: 300px;
                border-radius: 100%;
                border: 2px white solid;
                box-shadow:
                    inset 0 0 5px 2px rgb(255, 255, 255, 0.6),
                    0 0 5px 2px rgb(255, 255, 255, 0.6);
                background: black;

                #secondsHand {
                    display: block;
                    position: absolute;
                    bottom: 50%;
                    left: calc(50% - 2px);
                    transform-origin: bottom;
                    width: 4px;
                    height: calc(50% + 8px);
                    background: inherit;
                    box-shadow: 0 0 4px 4px black;
                    transition: transform 0.5s;
                }

                .date-time-content {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;

                    #time {
                        font-size: 400%;
                        line-height: 100%;
                    }

                    #date {
                        font-size: 120%;
                    }
                }
            }
        }
    }
}


#main .panels .top-panels-container .panel.active .panel-container {
    top: 10vh;
}


#main .panels .bottom-panels-container .panel.active .panel-container {
    bottom: 10vh;
}


#main .panels .panels-container .panel.left-panel.active .panel-container {
    left: 10vw;
}


#main .panels .panels-container .panel.right-panel.active .panel-container {
    right: 10vw;
}


#main .panels .panels-container .panel.lights-panel:not(.active) .panel-container .panel-content .light-button-container {
    display: none;
    opacity: 0;
}


#main .panels .panels-container .panel.lights-panel.active .light-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 30px;
    margin-top: 10%;
    opacity: 1;
    transition: opacity 1s;
}


#main .panels .panels-container .panel.lights-panel.active .light-button-container .light-button {
    flex: 1 1 35%;
    height: 100px;
    border: none;
    font-size: 100%;

    transition: background 0.4s;
    -o-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -webkit-transition: background 0.4s;
}


#main .panels .panels-container .panel.lights-panel.active .light-button-container .light-button:hover {
    background: grey;
}
